<mat-toolbar color="primary">
  <span>Scheduling Messages</span>
</mat-toolbar>

<div class='app-container'>
  <h1 class="mat-h1">Message 1</h1>
  <div class='message'>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Send message on">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>

    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [config]="editorConfig"></app-ngx-editor>
  </div>

  <h1 class="mat-h1">Message 2</h1>
  <div class='message'>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Send message on">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [config]="editorConfig"></app-ngx-editor>
  </div>

  <h1 class="mat-h1">Message 3</h1>
  <div class='message'>
    <mat-form-field>
      <input matInput [matDatepicker]="picker3" placeholder="Send message on">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [config]="editorConfig"></app-ngx-editor>
  </div>

  <h1 class="mat-h1">Message 4</h1>
  <div class='message'>
    <mat-form-field>
      <input matInput [matDatepicker]="picker4" placeholder="Send message on">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>

    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [config]="editorConfig"></app-ngx-editor>
  </div>

  <h1 class="mat-h1">Message 5</h1>
  <div class='message'>
    <mat-form-field>
      <input matInput [matDatepicker]="picker5" placeholder="Send message on">
      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
      <mat-datepicker #picker5></mat-datepicker>
    </mat-form-field>

    <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [config]="editorConfig"></app-ngx-editor>
  </div>

  <mat-toolbar class="action-buttons">
    <button mat-raised-button color="primary">Schedule</button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
